<h1>Golub-Herman Casino</h1><br>
<form action='/' method= 'POST' style='radio'>
	<select name='choice'>
		<option value="hit">Hit</option>
		<option value="stand">Stand</option>
	<input type="submit">
</form>
